<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.houserentals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="sendotp.key"
        android:value="4826ARlFjccW35dc7b142" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewUsersActivity"></activity>
        <activity android:name=".EditAdvertisementActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".AdvertisementDetailActivity" />
        <activity android:name=".ViewAdvertisementActivity" />
        <activity android:name=".PostAdvertisementActivity" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".AdminInformationActivity" />
        <activity android:name=".UserInformationActivity" />
        <activity android:name=".AdminWelcomeActivity" />
        <activity android:name=".UserWelcomeActivity" />
        <activity android:name=".AdminRegistrationActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>